<form method="post" action="{{ path('concert_delete', {'id': concert.id}) }}"
      onsubmit="return confirm('Êtes vous sûr' +
 ' de vouloir supprimer ce concert ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ concert.id) }}">
    <button class="btn">Supprimer ce concert</button>
</form>
