{% extends 'base.html.twig' %}

{% block title %}Nouveau concert{% endblock %}

{% block body %}
    <h1>Créer nouveau concert</h1>

    {{ include('show/_form.html.twig') }}

    <a href="{{ path('homepage') }}">back to list</a>
{% endblock %}
