<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>Adresse de l'antirouille </h6>
                <p class="text-justify">
                    12 Rue Anatole France, 34000 Montpellier
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by Dayyaan
                </p>
            </div>
        </div>
    </div>
</footer>